.membersWrap_c8ffbb, .container_c8ffbb {
	min-width: unset;
	width: 50px;
	z-index: 1000;
	justify-content: right;
}

.membersWrap_c8ffbb .members_c8ffbb {
	transition: transform var(--hover-animation-speed);
	transform: translateX(190px);
}

.membersWrap_c8ffbb:hover .members_c8ffbb {
	transform: translateX(0);
}

.membersWrap_c8ffbb .membersGroup_c8ffbb {
	transform: translateX(45px);
	transition: transform var(--hover-animation-speed);
	overflow: visible;
}

.membersWrap_c8ffbb .membersGroup_c8ffbb::after {
	content: "";
	width: 30px;
	height: 2px;
	border-radius: 1px;
	background-color: var(--seperator-color);
	position: absolute;
	left: -36px;
	top: 29px;
}

.membersWrap_c8ffbb:hover .membersGroup_c8ffbb {
	transform: translateX(0);
}

.membersWrap_c8ffbb .members_c8ffbb .member__5d473 {
	margin-left: 0px;
	transition: margin-left var(--hover-animation-speed);
}

.membersWrap_c8ffbb:hover .members_c8ffbb .member__5d473 {
	margin-left: 8px;
}
